1. Write a program to accept percentage from user and display the grade according to the followiung criteria:

Marks            Grade  
> 90               A
>80 and <=90       B
>=60 and <=90      C
below 60           D

In [2]:
marks = int(input("Enter your marks"))
if marks >90 :
    print("The candidate obtained A grade")
elif marks >80 and marks <=90:
    print ("The candidate obtained B grade")
elif marks >=60 and marks <=90:
    print("The candidate obtained C grade")
else:
    print("The candidate obtained D grade")

Enter your marks 86

The candidate obtained B grade

2. Write a program to accept cost price of bike from user and display the road tax to be paid according to the following criteria:
    Tax                           Cost Price(in Rs.)
    15%                           >100000
    10%                           >50000 and <=100000
    5%                            <=50000

In [ ]:
cost_Price = int(input("Please enter the cost_Price of bike"))
if cost_Price >100000 :
    print("The road tax on the bike will be 15%")
elif cost_Price > 50000 and cost_Price <= 100000 :
    print("The road tax on the bike will be 10%")
else: 
    print("The road tax on the bike will be 5%")

3. Accept any city form the user and display monuments of that city
   City                    Monument
   Delhi                   Red Fort
   Agra                    Taj Mahal
   Jaipur                  Jai Mahal

In [42]:
City = input("Enter the name of city")
if City == "Delhi":
    print("The monumenet is Red Fort")
elif City == "Agra":
    print ("The monument is Taj Mahal")
elif City == "Jaipur":
    print("The monument is Jai Mahal")

Enter the name of city Delhi

The monumenet is Red Fort

4. Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [17]:
number=int(input("Enter the number"))
count = 0
while number > 10:
    number = number /3
    count = count + 1
print('Total iteration required', count)

Enter the number 300

Total iteration required 4

5. Why and when to use while loop in python give a detailed description with example.

Python while loop is used to run a block code until a certain condition is met. Here, a while loop evaluates the condition. If the condition evaluates to True , the code inside the while loop is executed.

Python While Loop Syntax

while (expression):
Body of while

Python While Loop Example:

i = 1
n = 5


while i <= n:
    print(i)
    i = i + 1

6. Use nested while loop to print 3 different pattern.

In [1]:
i=1
while i<=5:
    j=1
    while j<=i:
        print(j,end=" ")
        j=j+1
    print("")
    i=i+1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [4]:
n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = n
    while j >= i:
        print("*", end = " ")
        j -= 1
    print()
    i += 1

Enter number of rows :  4

* * * *
* * *
* *
*

In [5]:
rows = 5
for i in range(rows, 0, -1):
    for j in range(0, i + 1):
        print(j, end=' ')
    print("\r")

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

7.Reverse a while loop to display numbers from 10 to 1.

In [8]:
for i in range(10, 0, -1):
        print(i)

10
9
8
7
6
5
4
3
2
1

8.Reverse a while loop to display numbers from 1 to 10.

In [9]:
for i in range(1,11,1):
    print (i)

1
2
3
4
5
6
7
8
9
10